<div class="card-group">
  <div class="card">
    <img src="../../../../assets/img/aquaman.png" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Aquaman</h5>  
    <p class="card-text">Aquaman es hijo del farero Thomas Curry y la reina de Atlántida, Atlanna. Al menos, así estaba establecido en la historias de la edad de plata. A partir de la serie Crisis en Tierras Infinitas, su origen cambió a completamente atlante. En esta nueva realidad, su padre es Atlan, un misterioso mago de Atlántida.</p>  
    <H5>"MARVEL"</H5>
    </div>
  </div>
  
  <div class="card">
    <img src="../../../../assets/img/batman.png" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Batman</h5>  
    <p class="card-text">Batman es la identidad secreta de Bruce Wayne, un empresario multimillonario, galán y filántropo. Presenció el asesinato de sus padres cuando era niño lo marcó profundamente y lo llevó a entrenarse en la perfección física e intelectual para ponerse un disfraz de murciélago con el fin de combatir el crimen.</p>
    <H5>"MARVEL"</H5>
    </div>
  </div>

  <div class="card">
    <img src="../../../../assets/img/linterna-verde.png" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Linterna Verde</h5>  
    <p class="card-text">Su principal fuerza radica en la posesión de un anillo de poder que es capaz de crear luz sólida a partir de su pensamiento. Pero además, y gracias a ese anillo especial es que estos superhéroes son capaces de volar.</p>
    <H5>"MARVEL"</H5>
    </div>
  </div>

  <div class="card">
      <img src="../../../../assets/img/hulk.png" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Hulk</h5>  
    <p class="card-text">El nombre Hulk, en el original americano significa individuo grande, torpe, grotesco y en efecto este personaje es el símbolo mismo de la fuerza bestia</p>
    <H5>"MARVEL"</H5>
    </div>
  </div>

  <div class="card">
    <img src="../../../../assets/img/daredevil.png" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Daredevil</h5>  
    <p class="card-text">Los orígenes de Daredevil se remontan a su infancia, ya que se quedó ciego y ganó habilidades sobrehumanas tras un accidente. Su padre fue el boxeador Battlin 'Jack” Murdock, pero sus años dorados acabaron cuando alcanzó la madurez adulta</p>
    <H5>""</H5>
    <H5>"MARVEL"</H5>
  </div>
  </div>

  <div class="card">
    <img src="../../../../assets/img/spiderman.png" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Spiderman</h5>  
    <p class="card-text">Con las habilidades de las arañas, el genio de la ciencia Peter Parker se balancea por encima de todo como Spider-Man, el campeón disfrazado de los inocentes que vive y lucha con la sabiduría de “¡Con gran poder, viene una gran responsabilidad</p>
    <H5></H5>
    <H5>"MARVEL"</H5>
    </div>
  </div>

  <div class="card">
    <img src="../../../../assets/img/wolverine.png" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Wolverine</h5>  
    <p class="card-text">En el universo ficticio de Marvel, Wolverine posee poderes regenerativos que pueden curar cualquier herida, por mortal que ésta sea, además ese mismo poder hace que sea inmune a cualquier enfermedad existente en la Tierra y algunas extraterrestres . Posee también una fuerza sobrehumana, que si bien no se compara con la de otros superhéroes como Hulk, sí sobrepasa la de cualquier humano</p>
    <H5></H5>
    <H5>"MARVEL"</H5>
    </div>
  </div>  

</div>