<section class="">
  <footer class="bg-secondary text-white text-center">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">ABOUT</h5>

          <p>
            Los héroes principales de Marvel son aquellos creados entre 1961 y 1963, 
            durante la Edad de Plata de Marvel: Spider-Man, Iron Man, Doctor Strange, 
            Daredevil, Thor, Hulk, Ant-Man y la Avispa, los X-Men, los Cuatro Fantásticos, 
            y el director de S.H.I.E.L.D., Nick Fury.
          </p>
        </div>      

        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CATEGORIA</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="home" class="text-white">Home</a>
            </li>
            <li>
              <a href="heroes" class="text-white">Heroes</a>
            </li>
            <li>
              <a href="nosotros" class="text-white">Nosotros</a>
            </li>
            <li>
              <a href="historia" class="text-white">Historia</a>
            </li>
          </ul>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Redes</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.instagram.com/" class="text-white">Instagram</a>
            </li>
            <li>
              <a href="https://es-la.facebook.com/" class="text-white">Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/?lang=es" class="text-white">Twitter</a>
            </li>
            <li>
              <a href="https://www.whatsapp.com/?lang=es" class="text-white">Whatssap</a>
            </li>
          </ul>
        </div>
        
      </div>
      
    </div>
    
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Prsentado por
      <a class="text-white" href="https://mdbootstrap.com/">presentado por</a>
    </div>
    
  </footer>
</section>